* {
    marigin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 30px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 2em;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover {
    background: #fff;
    color: #2b1055;
}

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown > a {
    display: block;
    padding: 10px;
    border: none;
    cursor: pointer;
}
  
.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 400%; /* 继承父级的宽度 */
    border-radius: 20px;
}
  
.dropdown:hover .sub-menu {
    display: block;
}
  
.sub-menu li {
    padding: 10px;
}
  
.sub-menu a {
    display: block;
    color: #333;
    text-decoration: none;
}
  
.sub-menu a:hover {
    background-color: #ccc;
}

.content {
    flex: 1;
}


  
footer {
    padding: 20px;
    text-align: center;
    color: #fff;
}

footer::before {
    content: "";
    display: block;
    width: 85%;
    height: 1px;
    background-color: #ffffff; /* 设置线的颜色 */
    margin: 0 auto; /* 水平居中 */
}
  

