body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ff9494, #ffcb94, #fffa94, #b2ff94, #94ffda, #94d6ff, #949fff, #d894ff);
    background-size: 300% 400%;
    animation: gradientAnimation 10s ease infinite;
  }
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  /* 表单标题样式 */
  h1 {
    text-align: center;
    color: #ff69b4;
  }
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
  /* 表单输入样式 */
form {
    background-color: #949fff;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.inputBox {
  display: flex;
  justify-content: center;
  width: 100%;
}
.inputBox input {
  width: 80%;
  padding: 10px;
  border: 1px solid rgba(255,255,255,0.25);
  background-color: rgb(240, 181, 252);
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 16px;
}
.inputBox span {
  position: absolute;
  left: 38%;
  padding: 10px;
  pointer-events: none;
  color: #ffffff;
  transition: .5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: lightpink;
  transform: translateX(10px)
             translateY(-7px);
  font-size: 12px;
  padding: 0 10px;
  background: rgb(222, 143, 230);
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  letter-spacing: 4px
}

.button-container {
  display: flex;
  justify-content: flex-start;
}
.buttonBox {
  display: inline-block;
}
.register-button {
  background-color: rgb(240, 181, 252);
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, transform 0.3s;
}
.register-button:hover {
  background-color: rgb(224, 120, 245);
  transform: scale(1.05);
}
.register-button:active {
  background-color: rgb(224, 120, 245);
  transform: scale(0.9);
}
